<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    <title>My Webpage</title>
    
</head>
<body>
    {{navbar_html | safe}}
    <h1>Financial Sentiment for {{company_name}}</h1>
    <h5>{{company_industry}}</h5>
    {% include 'table.html' %}
</body>
</html>